@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'The Nautigal', cursive;
}

#wlcm {
    font-size: 200px;
    margin-left: 23%;
    padding-top: 2%;
    color:beige;
}

.backround-image{
    background-image: url("https://cutewallpaper.org/25/starry-background-wallpaper/star-background-wallpaper-posted-by-michelle-thompson.png");
    background-repeat: no-repeat;
    height: 100vh;
}

#rg, #lg {
    background-color: beige;
    font-size: 80px;
    margin-top: 3%;
    margin-left: 38%;
    padding-bottom: -30px;
    width: 500px;
    height: 130px;
    opacity: 70%;
    border-radius: 50%;
}
