@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playball', cursive;
}

#wlcm {
    font-size: 150px;
    margin-left: 22%;
    padding-top: 2%;
    color:beige;
}

.backround-image{
    background-image: url("https://cdn.wallpapersafari.com/15/89/FkiTP4.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#rg {
    background-color: beige;
    font-size: 60px;
    margin-top: 3%;
    margin-left: 38%;
    padding-bottom: -30px;
    width: 500px;
    height: 130px;
    opacity: 70%;
    border-radius: 50%;
}

#rgst{
    font-size: 100px;
    margin-left: 42%;
    padding-top: 2%;
    color:beige;
}

.rgt-frm, .lgt-frm {
  width: 50%;
  font-size: 45px;
  color: beige;
  margin-left: 25%;
  text-align: center;
}

#br{
    background-color: beige;
    font-size: 50px;
    margin-top: 3%;
    margin-left: 3%;
    width: 400px;
    height: 120px;
    opacity: 70%;
    margin-bottom: 2%;
}

#frm {
  font-size: 30px;
  text-align: center;
}

#lgn{
    font-size: 100px;
    margin-left: 44%;
    padding-top: 5%;
    padding-bottom: 2%;
    color:beige;
}

#lg {
    background-color: beige;
    font-size: 60px;
    margin-top: 3%;
    margin-left: 2%;
    padding-bottom: -30px;
    width: 500px;
    height: 130px;
    opacity: 70%;
    border-radius: 50%;
}